nav.navbar.navbar-default {
	ul.nav.navbar-nav.navbar-right {
		float: right;
		li {
			a {
				color: $light-blue;
			}
			button span.glyphicon.glypchicon-bell {
				background: none;
				border: none; 
				color: $dark-blue;
			}
		}
	}
}