.modal-header {
	background-color: $dark-blue;
	h4.modal-title {
		color: white;
		text-align: left;
	}
}
.modal-body {
	label {
		color: $dark-blue;
	}
	.form-group {
		width: 15em;
	}
}


#create-group, #create-event {
	form {
		label{
			margin-top: 20px;
			color: $dark-blue;
			text-align: left;
		}
	}
}