<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="#">
        <img alt="Brand" src="images/bundle-logo.png">
      </a>
      <div class="pull-right">
      	<a class="login"> Log Out </a>
      </div>
    </div>
  </div>
</nav>