---
title: CampusBundle
---

<div class="create-cards">
	<div class="container-fluid">
		<div class="row">
			<div class="col-sm-4">
				<div class="card">
					<div class="card-header">
						<h1>Group</h1>
					</div>
					<div class="card-body">
						<button type="button" class="btn btn-default">Create a Group</button>
						<div class="divider">
							<span>Or</span>
						</div>
						<button type="button" class="btn btn-default">Import facebook Group</button>
						<img class="icon img-responsive" src="/images/icon1.png" />
					</div>
				</div>
			</div>
			<div class="col-sm-4">
				<div class="card">
					<div class="card-header">
						<h1>Event</h1>
					</div>
					<div class="card-body">
						<button type="button" class="btn btn-default">Create a Event</button>
						<div class="divider">
							<span>Or</span>
						</div>
						<button type="button" class="btn btn-default">Import facebook Event</button>
						<img class="icon img-responsive" src="/images/icon2.png" />
					</div>
				</div>
			</div>
			<div class="col-sm-4">
				<div class="card">
					<div class="card-header">
						<h1>Others Projects</h1>
					</div>
					<div class="card-body">
						<h2>Would you like to create another type of project?</h2>
						<button type="button" class="btn btn-success">Sell Tickets</button>
						<button type="button" class="btn btn-success">Group Purchase</button>
						<button type="button" class="btn btn-success">Fundraise</button>
						<button type="button" class="btn btn-success">Recurring Payments</button>
						<h2><a>See All Project Templates >></a></h2>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>