---
title: CampusBundle
---

<div class="container-fluid">
	<div class="row">
		<div class="col-sm-4">
			<div class="card">
				<div class="card-header">
					<h1>Group</h1>
				</div>
				<div class="card-body">
					<button type="button" class="btn btn-default">Create a Group</button>
					<div class="divider">
						<span>Or</span>
					</div>
					<button type="button" class="btn btn-default">Import facebook Group</button>
				</div>
			</div>
		</div>
		<div class="col-sm-4">
			<div class="card">
				<div class="card-header">
					<h1>Event</h1>
				</div>
				<div class="card-body">
					<button type="button" class="btn btn-default">Create a Event</button>
					<div class="divider">
						<span>Or</span>
					</div>
					<button type="button" class="btn btn-default">Import facebook Event</button>
				</div>
			</div>
		</div>
		<div class="col-sm-4">
			<div class="card">
				<div class="card-header">
					<h1>Others Projects</h1>
				</div>
			</div>
		</div>
	</div>
</div>